.TodoForm {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 3px;
    border: solid 2px rgb(14, 156, 133);
}

.TodoForm span {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(14, 156, 133);
}

.TodoForm input {
    width: 97%;
    margin-bottom: 10px;
    border: solid 1px rgb(14, 156, 133);
    border-radius: 3px;
    padding: 5px;
}

.TodoForm textarea {
    width: 97%;
    border: solid 1px rgb(14, 156, 133);
    border-radius: 3px;
    padding: 5px;
}

.TodoForm button {
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 15px;
    background: white;
    color: rgb(14, 156, 133);
    border-radius: 3px;
    border: solid 2px rgb(14, 156, 133);
}

.TodoForm button:hover {
    background: rgb(14, 156, 133);
    color: white;
}